@tailwind base;
@tailwind components;
@tailwind utilities;


    
    .flashcards-data-entry{
      display: flex;
      width:100%;
      justify-content: space-around;
      margin-top:1rem;
      background-color: #ffd770;
      padding: 2rem 1rem;
      position: relative;
    }
    
    .flashcard{
      display: flex;
      flex-direction: column;
      width: 47%;
    }
    
    .add-flashcard{
      margin-top:1rem;
      border: 1px solid black;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
    }

    .dont-add-flashcard{
        background-color: gray !important;
        color: rgb(176, 170, 170) !important;
    }

    .add-flashcard:hover{
        color: white;
        animation: buttonBG 0.8s infinite ease-in ;
        border: none;
    }

    .c-pointer{
        cursor: pointer;
    }

    @keyframes buttonBG {
        0%{
            background-color:yellow;
            color: black;
        }
        25%{
            background-color: coral;
            color: white;
        }
        50%{
            background-color: aqua;
            color: black;
        }
        75%{
            background-color: chartreuse;
            color: black;
        }
        100%{
            background-color: green;
            color: white;
        }
    }
    
    #deleteFlashcard{
      position: absolute;
      right: 1rem;
      top: 0rem;
    }

    label{
        margin-bottom: 1rem;
    }
    input[type='text']{
        padding: 0.5rem 0.5rem;
    }